.article {
    /* height: 100%; */
    position: relative;
    /* overflow:scroll; */
}

.image {
    object-fit: fill;
    width:100%;
    height: auto;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    
    margin: auto;
    padding: 32px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textbox{
    color: rgb(235, 235, 235);
    filter: drop-shadow(3px 3px 3px #000);

    justify-content: center;
    height: 100%;

    flex: 4;
}

.header{
    font-size: 4vw;
}

.text{
    font-size: 2vw;
}

.buttonbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex: 1;

    background-color: rgba(235, 235, 235, 0.4);

    margin: 0px 32px;
    padding: 32px 0px;
    border-radius: 12px;
}

.button{
    width: 70%;

    background-color: rgba(252, 252, 252, 1);
    color: rgba(0, 0, 0, 0.897);
    border-color: rgba(0, 0, 0, 0.897);
}