/* Landing */
.ImageCards {
    display: flex;
    justify-content:center;
    gap: 16px;

    height:min-content;
    width:100%;

    margin-top: 16px;
}

/* Dashboard */


/* General */
.VerticalForm{
    display: flex;
    flex-direction: column;
    width: 50%;
}

