.ImageCards {
    display: flex;
    justify-content:center;
}

.VerticalForm{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.Submit{
    width: 10vw;
    min-width: 75px;
    max-width: 100px;
}