.VerticalForm{
    display: flex;
    flex-direction: column;
}

.HorizontalFlex{
    display: flex;
    gap: 16px;
}

.Input{
    width: 50%;
}

.Input:disabled{
    background-color: rgba(235, 235, 235, 0.9);
    color: rgba(0, 0, 0 .7);
}

.Button{
    min-width: min-content;
    width: 150px;

    text-align: center;
    text-justify: center;
    padding: 16px;
}

.CheckBox{
    width: min-content;
    margin: 0;
    margin-bottom: 16px;
    margin-right: 8px;
}

.DeleteSection{
    background-color: rgba(255, 0, 0, 0.1);

    width: 50%;

    padding: 8px;
    border-radius: 16px;
}